nav .mobile__menu.mobile__menu--hidden {
  display: none;
}

nav li {
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  height: 2px;
  background: #00dbd0;
  width: 0;
  transition: all 0.15s ease-in-out;
}

nav li a:hover::after {
  left: 0;
  width: 100%;
}

nav li a:focus::after {
  left: 0;
  width: 100%;
}
