nav .mobile__menu.mobile__menu--hidden {
  display: none;
}

nav li {
  position: relative;
}

nav li a::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  height: 2px;
  background: #00dbd0;
  width: 0;
  transition: all 0.15s ease-in-out;
}

nav li a:hover::after {
  left: 0;
  width: 100%;
}

nav li a:focus::after {
  left: 0;
  width: 100%;
}

.food_card {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23374B5CFF' stroke-width='1' stroke-dasharray='5 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
  width: 184px;
  min-width: 184px;
}

.food_card .food_text {
  max-width: 9rem;
}

@media screen and (min-width: 1280px) {
  .food_card {
    width: 208px;
  }
  .food_card .food_text {
    max-width: 10rem;
  }
}

.food_card.food_card--green {
  background: #00dbd0;
  color: white;
}

.subscribe_input::placeholder {
  font-size: 12px;
}

.read_link {
  position: relative;
  z-index: 10;
}

.read_link::after {
  position: absolute;
  content: "";
  background: #00dbd0;
  height: 5px;
  width: 100%;
  left: 0;
  bottom: 2px;
  z-index: -1;
  transition: all 0.15s ease-in-out;
}

.read_link:hover::after {
  height: 90%;
}

.footer {
  background: url("../images/footer-bg.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer .footer_title {
  position: relative;
}

.footer .footer_title::after {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  height: 2px;
  background: #00dbd0;
  width: 50%;
  bottom: -4px;
}

.footer .footer_subtitle {
  max-width: 17rem;
}

@media screen and (min-width: 768px) {
  .footer .footer_subtitle {
    max-width: none;
  }
}
