$primary: #00dbd0;
$light: #f1fefe;
$text: #374b5c;

nav {
  .mobile__menu.mobile__menu--hidden {
    display: none;
  }

  li {
    position: relative;
    a {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        display: block;
        height: 2px;
        background: $primary;
        width: 0;
        transition: all 0.15s ease-in-out;
      }

      &:hover::after {
        left: 0;
        width: 100%;
      }

      &:focus::after {
        left: 0;
        width: 100%;
      }
    }
  }
}

.food_card {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23374B5CFF' stroke-width='1' stroke-dasharray='5 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;
  width: 184px;
  min-width: 184px;

  .food_text {
    max-width: 9rem;
  }

  @media screen and (min-width: 1280px) {
    & {
      width: 208px;
    }
    .food_text {
      max-width: 10rem;
    }
  }
}

.food_card.food_card--green {
  background: $primary;
  color: white;
}

.subscribe_input {
  &::placeholder {
    font-size: 12px;
  }
}
